<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Student Health
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--put stuff h-ear-->
  <ion-card class="StudentHealthCard">
    <ion-img class="StImage" src="https://cdn.pixabay.com/photo/2017/10/16/21/56/electrocardiogram-2858693_960_720.png"></ion-img>
  </ion-card>
  <ion-card class="StudentHealthCard">
    <!--<ion-card-header >
      <ion-card-title>Information</ion-card-title>
    </ion-card-header>-->
    <ion-card-content>

<p style="color: black;">GMIT provides many different services to help you look after you’re physical and mental health.</p>
<br>
<h2><b style="color: rgb(52, 52, 255);">Health Unit</b></h2>
<br>
  <p style="color: black;">The Student Health Unit provides professional and confidential medical care to GMIT students. </p>
<br>
  <p style="color: black;"> To make an appointment please call +353 (0) 91 74 2228. </p>
<br>
  <p style="color: black;">Please bring a valid GMIT student ID Card with you when attending your appointment.</p>
<br>
<div>
  <p style="color: black;"><b>Location:</b> Near the Student’s Union</p>
  <p style="color: black;"><b>Hours:</b>	9am – 6pm Monday to Thursday 9am – 5pm on Friday</p>
  <p style="color: black;"><b>Phone:</b> +353 (0) 91 74 2228</p>
  <p style="color: black;"><b>Email:</b> studenthealthunit@gmit.ie </p>
</div>
<br>
<p style="color: black;">For medical emergencies, call: 087 9971574</p>
<br>
<h2 style="color: rgb(52, 52, 255);"><b>Counselling</b></h2>
<br>
<p style="color: black;">GMIT offers professional and confidential counselling for free to all students.</p>
<br>
<p style="color: black;">Whatever your concerns, GMIT has a trained professional who can help you work through your problems and help you develop more effective ways of coping.</p>
<br>
<p style="color: black;">To request an appointment with a counsellor you can stop by at the Student Services Office, phone, or email.</p>
<br>
<p style="color: black;"><b>Room Number:</b> 162</p>
<p style="color: black;"><b>Phone:</b> +353 (0)91 74 2118</p>
<p style="color: black;"><b>Email:</b> counselling@gmit.ie</p>
<br>
<br>
<p style="color: rgb(52, 52, 255);"><b>24 Hour Helplines</b></p>
<br>
<p style="color: black;"><b>Samaritans:</b> 116 123</p>
<p style="color: black;"><b>Pieta House:</b> 1800 247 247</p>
<br>
<br>
<p>For more information</p>
<ion-button (click)="NavToStuHealth()">Student Health</ion-button>

    </ion-card-content>
  </ion-card>
  </ion-content>
  <ion-footer>
    <ion-content>
  
    </ion-content>
  </ion-footer>
