<ion-header>
  <ion-toolbar>
    <ion-title>Student Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "container">
    <img src = "-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://scontent-dub4-1.xx.fbcdn.net/v/t31.18172-8/26678139_1592742790803574_5513462892392118000_o.jpg?_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=e3f864&amp;_nc_ohc=vpaF3W8y-2MAX_EF5DV&amp;_nc_ht=scontent-dub4-1.xx&amp;oh=00_AT_gbqsLAW2FBOLMb4V9ibrCpL8fUcBPR72cQIBTecLxuQ&amp;oe=626AA496" width="1173" height="880"/>

  </div>
<h4>As a Student you should be aware of the following resources to help you reach your Academic Goals:</h4>
<section>    
  <ul class="my-nav">
    <li>Study Rooms</li>
    <li>Referencing your Assignments/Papers</li>
    <li>Books to help your studies</li>
  </ul>
  <h4>All this information can be found in the library!</h4>
  <button ion-button (click) = "openUrl">Library</button>
</section>

</ion-content>
