
ion-tab-button {     
    width: 3rem;
    ion-label {  
        font-size: 10px;
    }
    ion-icon {
        font-size: 30px;
    }
    ion-tab-button tab3{
        font-size: 6px
    }
    .tab3{ font-size: 10px !important; overflow: visible;}
    
}