<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "container">
  <img src = "https://i2-prod.irishmirror.ie/news/irish-news/article23167339.ece/ALTERNATES/s508/0_I201214_144658_3266803oTextTRMRMMGLPICT000031866257o.jpg"/>
    <h1>College Connect</h1>
    <ion-card-subtitle>Welcome to GMIT, College Connect. A Students personal assistant that sits in your pocket. Find out all the latest from the Student Union as all your other Student needs!</ion-card-subtitle>

  </div>
    

  

  
<ion-content>
