.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.container h4{
    align-items: center;
}

.container img{
    width:500px;
    height:300px;
}

.my-points {
    list-style-type: disc;
  }

