<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "container">
  <img src = "https://i2-prod.irishmirror.ie/news/irish-news/article23167339.ece/ALTERNATES/s508/0_I201214_144658_3266803oTextTRMRMMGLPICT000031866257o.jpg"/>
    <h1>College Connect</h1>
    <h4>Welcome to GMIT, College Connect. The College Assistant that sits in your pocket!</h4>
    <ion-button (click) = "openUrlGMIT()" size = "large" expand="full">GMIT Student Hub</ion-button>
    <img src="-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://cdn.gmitsulife.ie/user_files/profile/10103/bb1b05c42b51659af1314a4cbf04ad0b.png" width="700" height="880"/>
  </div>
    

  

  
<ion-content>
