.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.container h4{
    align-items: center;
}



.my-points {
    list-style-type: disc;
  }
  ion-title{
    align-items: flex-end;
    text-align: center;
}
