<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class = "container">
  <ion-card>
  <img src = "https://fbo-b.flippingbook.com/FacebookThumbnail.aspx?hid=461759&amp;v=2m3ppXMNiIn1Xzi3k5fBqw--"width="1000" height="250"/>
  </ion-card>
  
  <ion-card><h1>College Connect</h1></ion-card>
  <ion-card><h4>Welcome to GMIT, College Connect. The College Assistant that sits in your pocket!</h4></ion-card>
    
    <ion-button (click) = "openUrlGMIT()" size = "large" expand="full">GMIT Student Hub</ion-button>
   
  </div>


  

  
<ion-content>
