.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

ion-title{
    align-items: center;
    text-align: center;
}