
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "container">
    
 
    <ion-toolbar>
      <ion-card>      <h4>Software Development</h4>
        <h4>Year 2 - Semester 4</h4></ion-card>
        <ion-card><img src="https://fbo-b.flippingbook.com/FacebookThumbnail.aspx?hid=825441920&amp;v=4CpZB5ikq2KytxDNI0*IQQ--"width="2000" height="200"></ion-card>
      
      <ion-button (click) = "openUrlTimetable()" size = "large" expand="full">Student Timetable</ion-button>
      
      <ion-card><h4>Look up your Course Timetable here!</h4></ion-card>
      
    </ion-toolbar>

  </div>
  

</ion-content>
