<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = "container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timetable - Software Development</ion-title>
      <ion-button (click) = "openUrlTimetable()" size = "large" expand="full">GMIT Student Timetable</ion-button>
      
    </ion-toolbar>
  </ion-header>
  </div>

</ion-content>
